# Visual Studio files
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Logs
*.log

# Others
*.cache
# הגדרות סודיות
appsettings.Development.json
appsettings.json
secrets.json

# קבצי סביבה
.env
.env.*
